.grid {
  margin: 1em auto;
  border-collapse: collapse;
}
.grid td {
  cursor: pointer;
  width: 75px;
  height: 75px;
  border: 6px solid #090909;
  border-style: outset;
  text-align: center;
  font-size: 30px;
}
.grid td.clicked {
  background-color: yellow;
  font-weight: bold;
  color: red;
}

/* 
border-style: dotted;

font-family: sans-serif;
font-size: 13px; */
