#grid {
  margin: 1em auto;
  border-collapse: collapse;
}

#grid td {
  cursor: pointer;
  width: 75px;
  height: 75px;
  border: 6px solid #090909;
  border-style: outset;
  text-align: center;
  font-size: 30px;
}
