#grid {
  margin: 0px auto;
  border-collapse: collapse;
}

#grid td {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 3.5px solid #090909;
  border-style: ridge;
  text-align: center;
  font-size: 27px;
}

#clicked {
  box-shadow: 4px 4px black;
  background-color: lightgray;
}

#bomb {
  background-color: red;
}
